.filtersSection {
  background-color: var(--color-background);
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
}

.filters {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-text-primary);
  font-size: clamp(20px, 6vw, 40px);
}

.formInner {
  display: flex;
  gap: 32px;

  width: 100%;
}

.filter {
  display: flex;
  flex-direction: column;
}

.filterTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-primary);
  margin-bottom: 10px;
}

/* =========================
   Комнаты
   ========================= */

.rooms {
  display: flex;
  gap: 2px;
}

.roomButton {
  min-width: 42px;
  height: 42px;
  padding: 0 16px;
  border: 1px solid var(--color-text-muted);
  border-radius: 100px;
  background: var(--color-background);
  color: var(--color-text-primary);
  font-size: 14px;
  cursor: pointer;
  transition:
    background 0.15s ease,
    color 0.15s ease,
    border-color 0.15s ease;
}

.roomButton:hover {
  border-color: #999;
}

.roomButtonActive {
  border-color: #111;
  background: #111;
  color: #fff;
}

/* =========================
   Dual Range
   ========================= */

.slider {
  position: relative;
  width: 100%;
  touch-action: none;
  cursor: pointer;
}

/* Фоновая линия */

.track {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 12px;
  border-radius: 999px;
  background: #dedede;
  transform: translateY(-50%);
}

/* Выбранный диапазон */

.selectedTrack {
  position: absolute;
  z-index: 1;
  top: 50%;
  height: 4px;
  border-radius: 999px;
  background: #111;
  transform: translateY(-50%);
  pointer-events: none;
}

/* =========================
   CUSTOM THUMB
   ========================= */

.customThumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  padding: 0;
  border: 2px solid #111;
  border-radius: 50%;
  background: #fff;
  box-sizing: border-box;
  cursor: grab;
  appearance: none;
  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

.customThumb:hover {
  box-shadow: 0 0 0 5px rgb(0 0 0 / 8%);
}

.customThumbDragging {
  cursor: grabbing;
  transform: translate(-50%, -50%) scale(1.08);
  box-shadow: 0 0 0 6px rgb(0 0 0 / 10%);
}

/* Внутренняя точка */

.customThumb span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #111;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* =========================
   INPUTS
   ========================= */

.inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.inputLabel {
  position: absolute;
  top: 6px;
  left: 12px;
  color: #888;
  font-size: 11px;
  pointer-events: none;
}

.numberInput {
  width: 120px;
  margin-bottom: 10px;
  outline: none;
  background: #fff;
  color: #171717;
  font-size: 15px;
  box-sizing: border-box;
  transition: border-color 0.15s ease;
}

.numberInputEnd {
  text-align: end;
}

.numberInput:hover {
  border-color: #aaa;
}

.numberInput:focus {
  border-color: #111;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

.numberInput {
  appearance: textfield;
  -moz-appearance: textfield;
}

.inputSuffix {
  position: absolute;
  right: 12px;
  color: #777;
  font-size: 13px;
  pointer-events: none;
}

.separator {
  flex: 0 0 auto;
  color: #999;
}

/* =========================
   LIMITS
   ========================= */

.rangeLimits {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888;
}

/* =========================
   Submit
   ========================= */

.submit {
  width: 25%;
  height: 50px;
  border: 1px solid var(--color-text-primary);
  border-radius: 50px;
  background: transparent;
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out;
  align-self: center;
  margin-top: 20px;
}

.submit:hover {
  background-color: var(--color-foreground);
  color: var(--color-text-secondary);
}

.submit:active {
  opacity: 0.7;
}

/* =========================
   Mobile
   ========================= */

@media (max-width: 480px) {
  .inputs {
    gap: 6px;
  }

  .numberInput {
    padding-left: 10px;
    padding-right: 30px;
  }

  .inputLabel {
    left: 10px;
  }

  .inputSuffix {
    right: 8px;
  }
}
